body{
    background-color: black;
}

/*navigation bar CSS starts from here*/
.top{
    display: flex;
    padding-top: 30px;
    font-family: 'Michroma';

}

.title{
    padding-left: 185px;
    font-family: 'Michroma', sans-serif; /*imported font*/
    font-size: 20px;
    color: white;
    display: flex;
}

.menu{
    font-size: 18px ;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.menu-main{
    font-size: 20px;
    text-decoration: none;
    color: red;
}

nav{
    padding: 15px 0 0 600px ;

}

.menu:hover , .menu-main:hover{
    color: rgb(59, 58, 58);
}

/*navigation bar CSS ends here*/


/*My socials section CSS starts*/

.socials{
    padding-right: 180px;
    padding-top: 10px;
}

.socials-link{
    text-decoration: none;

}

.socials-button{
    background-color: black;

}

/*My socials section CSS ends*/

/*containt CSS start here*/

.content{
    margin-left: 150px;
    padding-top: 100px;
    display: flex;
}

.info-1{
    color: white;
    font-family: 'Michroma', sans-serif;
    font-size: 100px;
    padding-left: 30px;
    padding-top: 100px;
}

.info-2{
    padding-left: 200px;
}

.address{
    display: flex;
    padding-left: 400px;
}

.address-pic{
    padding-top: 50px;
}

.address-descp{
    color: white;
    font-family: 'Rajdhani';
    font-size: 60px;
    padding-left: 30px;
}

.my-address{
    color: white;
    font-family: 'Rajdhani';
    font-size: 40px;
    position: absolute;
    padding-top: 100px;
    padding-left: 80px;
}

.phone{
    display: flex;
    padding-left: 380px;
    padding-top: 50px;
}

.phone-pic{
    padding-top: 50px;
}

.phone-descp{
    color: white;
    font-family: 'Rajdhani';
    font-size: 60px;
    padding-left: 30px;
}

.my-phone{
    color: white;
    font-family: 'Rajdhani';
    font-size: 40px;
    position: absolute;
    padding-top: 100px;
    padding-left: 120px;
}

.mail{
    display: flex;
    padding-left: 380px;
}

.mail-pic{
    padding-top: 75px;
}

.mail-descp{
    color: white;
    font-family: 'Rajdhani';
    font-size: 60px;
    padding-left: 30px;
    padding-top: 20px;
}

.my-mail{
    color: white;
    font-family: 'Rajdhani';
    font-size: 40px;
    position: absolute;
    padding-top: 120px;
    padding-left: 120px;
}


/*containt CSS ends here*/
