body{
    background-color: black;
}

/*navigation bar CSS starts from here*/
.top{
    display: flex;
    padding-top: 30px;
    font-family: 'Michroma';

}

.title{
    padding-left: 185px;
    font-family: 'Michroma', sans-serif; /*imported font*/
    font-size: 20px;
    color: white;
    display: flex;
}

.menu{
    font-size: 19px ;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.menu-main{
    font-size: 19px;
    text-decoration: none;
    margin-left: 25px;
    color: rgb(255, 106, 0);
}

nav{
    padding: 15px 0 0 580px ;

}

.menu:hover , .menu-main:hover{
    color: rgb(59, 58, 58);
}

/*navigation bar CSS ends here*/


/*My socials section CSS starts*/

.socials{
    padding-right: 150px;
    padding-top: 10px;
}

.socials-link{
    text-decoration: none;

}

.socials-button{
    background-color: black;

}

/*My socials section CSS ends*/


/*content CSS starts here*/

.content{
    margin-bottom: 300px;
}

.intro{
    padding-left: 185px;
    padding-top: 150px;
}

.intro-head{
    font-size: 80px;
    font-family: 'Michroma';
    color: white;
}

/* Tyoewriter animation CSS starts */

.intro-para{
    font-size: 50px;
    font-family: 'Work Sans';
    color: rgb(255, 106, 0);
    white-space: nowrap; /*this keeps the animated content in one line*/
    overflow: hidden;
    animation: typewriter 3s steps(25);
}

@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 750px;
    }
}
  
/* Tyoewriter animation CSS ends */

.experience{
    font-family: 'Rajdhani';
}

.starb , .youtube{
    color: white;
    display: flex;
    margin-left: 150px;
    margin-top: 150px;
}

.micros ,.google{
    color: white;
    display: flex;
    margin-left: 150px;
    margin-top: 150px;
}

.micros-descp ,.youtube-descp{
    margin-left: 350px;
}


.starb-head ,.google-head{
    font-size: 50px;
}

.starb-head{
    color: #00623D;
}

.micros-head{
    color: #6E64C3;
}

.youtube-head{
    color: red;
}

.google-head{
    color:  #FBBD00;
}

.micros-head ,.youtube-head{
    font-size: 50px;
}

.starb-pic ,.google-pic{
    margin-left: 350px;
    margin-top: 200px;
    animation: rotate 5s linear infinite;
}

.micros-pic ,.youtube-pic{
    margin-left: 200px;
    margin-top: 200px;
    animation: rotate 5s linear infinite;
}

/*Spining animation CSS*/
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}

.starb-date ,.google-date{
    margin-left: 200px;
    margin-top: 245px;
    font-size: 50px;
}

.micros-date ,.youtube-date{
    margin-left: 100px;
    margin-top: 245px;
    font-size: 50px;
}

.works{
    font-size: 25px;
}

/*Content CSS ends here*/