body{
    background-color: black;
}

/*navigation bar CSS starts from here*/
.top{
    display: flex;
    padding-top: 30px;
    font-family: 'Michroma';

}

.title{
    padding-left: 185px;
    font-family: 'Michroma', sans-serif; /*imported font*/
    font-size: 20px;
    color: white;
    display: flex;
}

.menu{
    font-size: 19px ;
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.menu-main{
    font-size: 19px;
    text-decoration: none;
    margin-left: 25px;
    color: rgb(255, 106, 0);
}

nav{
    padding: 15px 0 0 580px ;

}

.menu:hover , .menu-main:hover{
    color: rgb(59, 58, 58);
}

/*navigation bar CSS ends here*/


/*My socials section CSS starts*/

.socials{
    padding-right: 150px;
    padding-top: 12px;
}

.socials-link{
    text-decoration: none;
}

.socials-icon{
    margin-right: 10px;
}

/*My socials section CSS ends*/

/*content CSS start here*/

.content{
    padding-top: 100px;
    padding-left: 180px;
    margin-bottom: 300px;
    display: flex;
}

/*String animation effect CSS starts*/

.string{
    color: rgb(255, 106, 0);
    font-family: 'Michroma', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 80px;
    animation: move 7s infinite;
}

@keyframes move {   
    25% {
        transform: translatey(-80px);
      }
      50% {
        transform: translatey(-155px);
      }
      75% {
        transform: translatey(-232px);
      }
}

.close::after{
    content: '';
    position: absolute;
    height: 220px;
    width: 220px;
    background: black;
    transform: translate(10px, -520px);
}

.close::before{
    content: 'I am Abhimanyu.';
    padding-top: 50px;
    padding-left: 20px;
    font-family: 'Michroma';
    font-size: 100px;
    color: white;
    position: absolute;
    height: 180px;
    width: 1100px;
    background: black;
    transform: translate(10px, -250px);
}

.greet{
    animation: white-out 5s infinite;
}

/*String animation effect CSS ends*/

.intro-para{
    padding-left: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;  /*Another imported font*/
}

.learn{
    text-decoration: none;
    background-color: red;
    background-color: black;
    color: white;
    font-family: 'Rajdhani';
    font-size: 30px;
    margin-left: 50px;
}

.learn:hover{
    font-size: 31px;
}

.content-pics{
    margin-left: 300px;
    margin-top: 150px;
}

.html{
    margin-left: 5px;
}

.c-lang{
    margin-top: 30px;
    margin-left: 170px;
}

.python{
    margin-top: 30px;
    margin-left: 50px;
}

.javascript{
    margin-top: 30px;
    margin-left: 170px;
}

.css{
    margin-top: 30px;
    margin-left: 15px;
}


.python:hover{
    height: 78px;
}


.c-lang:hover{
    height: 80px;
}

.html:hover{
    height: 83px;
}

.javascript:hover{
    height: 68px;
}


.css:hover{
    height: 83px;
}

/*content CSS ends here*/

